body{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
}
.container{
    height: 50vmin;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.game{

    width: 50vmin;
 display: flex;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.box{
    width: 15vmin;
    height: 15vmin;
    border-radius: 5px ;
    background-color: rgb(255, 222, 181);
    box-shadow: 5px 2px 2px grey ;
    font-size: xxx-large;
    font-family: 'Segoe UI';
    font-weight: 600;
    color:red;
  
}

.reset{

        border-radius: 5px ;
        background-color: rgb(30, 0, 253);
        box-shadow: 5px 2px 2px grey ;
        font-size: x-large;
        font-family: 'Segoe UI';
        font-weight: 600;
        color:rgb(255, 255, 255);
      
 
}